@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fafafa;
  height: 100%;
}

html.dark {
  color-scheme: dark;
}

html.dark,
html.dark body {
  background-color: #333;
  color: #fff;
}
